*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Variables de colores */
:root{
	--color-1: rgb(0, 152, 218); /*azul fuerte*/
	--color-2: rgb(0, 60, 130); /*azul*/
	--color-3: #EEEEEE; /*blanco*/
	--color-4: rgb(42, 38, 35); /*negro*/
	--color-informatic: #53bfe2;
	--color-electronic: #00c08b;
	--color-desing: #f8c54d;
	--color-robot: #ea5080;
}
/************************************************************************************/
body{
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: rgb(245, 245, 245);
	padding: 0 20px;
}
h1{
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}
h2{
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}
h3{
	font-size: 22px;
}
h4{
	font-size: 20px;
	font-weight: 500;
}
h5{
	font-size: 18px;
	font-weight: 500;
}
h6{
	font-size: 16px;
}
h3,h4,h5,h6{
	margin-bottom: 10px;
}
ul,ol{
	margin-bottom: 25px;
	position: relative;
	left: 42px;
	width: calc(100% - 42px);
}
p{
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 26px;
}
a{
	text-decoration: none;
}
header{
	margin-top: 70px;
}
/*************************************************************************************/
#navegacion{
    box-sizing: border-box;
	width: 100vw;
	height: 70px;
	left: 0;
	top: 0;
	position: fixed;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(71, 218, 255) 0%, rgb(41, 94, 107) 100%) repeat scroll 0 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    padding: 0.2em 0 0;
}
#logo img {
    height: 60px;
    margin-left: 0.6em;
}
.boton-menu {
    background-color: transparent;
    border: 1px solid #fff;
    display: block;
	float: right;
	font-size: 44px;
	text-align: center;
	margin: 5px 20px 0 0;
	height: 50px;
    width: 50px;
}
.nav-items {
    clear: both;
	height: 0;
	width: 80%;
	left: 0;
	overflow: hidden;
	position: absolute;
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al voover a su estado unicial*/
}
#navegacion:target .nav-items {
    background: #ffffff none repeat scroll 0 0; 
	height: 15.8em;
	position: absolute;
	top: 80px;
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al abrirse*/
}
/*Al hacer clic sobre el enlace que abre el menú éste desaparece*/
.close { 
	display:none;
}    
#navegacion:target .open {
	display: none;
}
/* Al hacer clic sobre el enlace que abre el menú aparece el enlace .close que previamente estaba oculto*/
#navegacion:target .close {
	display: block;
}
/*Estilos menu*/
.nav-items a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em;
}
ul.nav-items li:first-child a {
    border-top: 2px solid transparent;
}
ul.nav-items li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
}
#item1 span {
    border-color: #ff6633;
}
#item2 span {
    border-color: #bda94d;
}
#item3 span {
    border-color: #5887bc;
}
#item4 span {
    border-color: #00a2b7;
}
#item5 span {
    border-color: #639bf2;
}
/**********************************************************************/
.beaner{
	height: 45vh;
	width: 100vw;
	margin-left: -20px;
	background-image: url(/img/beaner-mobile.png);
	background-color: black;
	background-repeat: no-repeat;
	color: var(--color-1);
}
.beaner-title{
	color: var(--color-1);
	height: 100%;
	font-size: 3.4em;
	letter-spacing: .1em;
	display:flex;
	align-items: center;
}
/*

article{
	margin-top: 120px;
	background-color: rgb(255,255,255);
	border-radius: 3px;
	box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
	transition: all 0.3s;
}
.etiqueta{
	font-weight: bold;
	color: var(--color-robot);
	padding: 0 20px 16px 20px;
}


.subtitle{
	font-size: 1.9em;
	font-weight: bold;
	text-align: center;
	padding: 20px 10px;
	color: var(--color-4);
}
.block{
	display: inline-block;
	border-radius: 5px;
	margin: 0 0 20px 10px;
	overflow: hidden;
}
.block-2{
	width: 45vw; 
	padding: 0 0 0 20px;
	display: inline-block;
	
}
.block-4{
	color: var(--color-4);
	font-size: 1.1em;
	width: 95%;
	padding: 10px 0 4px 0;
	text-align: center;
	text-decoration: none;
}
.block-8{
	background-color: var(--color-1);
	color: var(--color-3);
	width: 46%;
	height: 13em;
	padding: 15px 8px 10px 8px;
	text-align: center;	
	font-size: .9em;
}

.container-footer{
	background-color: var(--color-4);
	color: var(--color-3);
	width: 100%;
	height: auto;
	padding: 10px 10px 30px 10px;
	font-size: 1.2em;
	position: absolute;
	left: 0;
}
.nav-footer{
	width: 40%;
	padding: 10px;
	margin-left: 40px;
}


.header{
	display: block;
	background-color: var(--color-electronic);
	font-size: 1.3em;
	padding-top: 40px;
}
.header-img{
	height: 150px;
	background-image: url(../img/placa-mobile.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-size: 100%;
	background-attachment: fixed;
}
.header-text{
	padding: 10px 10px 10px 10px;
}

.aside{
	margin: 0 10px 20px 10px;
	padding: 20px 0;
	background-color: var(--color-3);
}

.group-images{
	width: 49vw;
	height: 120px;
}

.mini-photo{
	width: 100px;
	padding-top: 10px;
	margin: 0 10px;
	border-radius: 50px;
	float: left;
}
.mini-perfil{
	text-align: center;
	height: 100px;
	padding-top: 40px;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.list-calification{
	margin: 0 20px 10px 10px;
	list-style-type: none;
}
.button-contratar{
	width: 35%;
	height: 130px;
	margin-right: 15px;
	float: right;
	font-size: 1.3em;
	font-weight: bold;
}
.brother{
	display: inline-block;
}

.menu-item-aside{
	line-height: 2em;
	margin-left: 10px;
	list-style: none;
}

.foto-perfil{
	width: 55%;
    border-radius: 50%;
    border: 10px solid var(--color-2);
    display: block;
    margin: 1px auto;
}
.principal{
	background: var(--color-1);
	color: var(--color-3);
	text-align: center;
	margin-bottom: 20px;
}
.secundario{
	background: var(--color-2);
	color: var(--color-3);
	text-align: center;
}
.bloque{
	margin: 0 10px 20px;
	border-radius: 15px;
	padding: 0 5px;
}

.barra{
	display: block;
	width: 100%;
	height: 4.5vh;
}
.nav-social-networks{
	width: 100%;
	font-size: 1.2em;
	padding: 5px 10px;
	text-align: center;
}

.list{
	list-style: none;
}

.image-block-medium{
	width: 45%;
}

.nav-social-networks li{
	display: inline-block;
}

.block-4:nth-child(2){
	background-color: var(--color-informatic);
}
.block-4:nth-child(3){
	background-color: var(--color-electronic);
}
.block-4:nth-child(4){
	background-color: var(--color-desing);
}
.block-4:nth-child(5){
	background-color: var(--color-robot);
}
.group-images:first-child{
	width: 100vw;
	height: 233px;
}
*/

/* Móviles en horizontal o tablet en vertical */
@media (min-width: 768px){
	body{
		padding: 0 40px;
	}
	.nav-items {
		width: 50%;
	}
	/**********************************************/
	.beaner{
		width: 100vw;
		height: 480px;
		margin-left: -40px;
		background-image: url(../img/beaner.jpg);
	}
	.beaner-title{
		font-size: 3.8em;
		justify-content: center;
	}
	/*
	article{
		margin-top: 110px;
	}
	.block-2{
		width: auto
	}
	.menu{
		width: 30vw;
		margin-left: -60%;
	}


	.foto-perfil{
		width: 35%;
		margin: 40px;
	}
	.block-4{
		font-size: 1.2em;
		width: 48%;
	}
	.block-8{
		width: 23%;
		height: 14.5em;
	}*/
}

/* Tablets en horizontal y esctritorios normales */
@media (min-width: 1024px){
	body{
		padding: 0 40px;
	}
	.nav-items {
		width: 40%;
	}
}

/* Escritorios muy anchos */
@media (min-width: 1200px){
	.boton-menu{
		display: none;
	}
	.nav-items{
		height: 80px;
		top: 0;
		right: 0;
		left: unset;
		text-align: center;
	}
	.nav-items li{
		display: inline-block;
		font-size: 1.2em;
	}
	.nav-items a{
		border: none;
	}

	.nav-items a:hover{
		color: var(--color-3);
	}
	/**********************************************/
	.beaner{
		height: 550px;
		background-image: url(../img/beaner.jpg);
	}
	/*
	.subtitle{
		font-size: 2.2em;
	}

	.block-4{
		font-size: 1.2em;
		width: 24%;
		padding: 8px 0 4px 0;
	}
	.block-8{
		width: 11.45%;
		height: 14em;
	}

	.container-footer{
		display: flex;
	}
	.nav-social-networks{
		position: absolute;
		right: 25px;
		width: 15%;
	}
	.aside{
		width: 24%;
		height: auto;
		padding: 5px 40px;
		background-color: var(--color-3);
	}
	.device{
		float: left;
		padding-top: 20px;
	}

	.block-2{
		width: 48%;
		padding: 10px 20px;
		
	}
	.image-block-2{
		width: 100%;
		height: 40vh;
	}
	.block-3{
		width: 31.95%;
		padding: 10px 0;
		background-color: var(--color-3);
		text-align: center;
		font-size: 1.2em;
	}
	.image-block-3{
		width: 100%;
		height: 250px;
	}

	.group-images{
		width: 24%;
		float: left;
		margin: 0 5px 10px 5px;
	}
	.group-images:nth-child(1){
		width: 49%;
	}*/
}