/* Variables de colores */
:root{
	--color-1: rgb(0, 152, 218); /*azul fuerte*/
	--color-2: rgb(0, 60, 130); /*azul*/
	--color-3: #EEEEEE; /*blanco*/
	--color-4: rgb(42, 38, 35); /*negro*/
	--color-informatic: #53bfe2;
	--color-electronic: #00c08b;
	--color-desing: #f8c54d;
	--color-robot: #ea5080;
}
/**************************************************************/
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: rgb(245, 245, 245);
	padding: 0 20px;
	overflow-x: hidden;
}
h1{
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
}
h2{
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin: 15px 0;
}
h3{
	font-size: 22px;
}
h4{
	font-size: 20px;
	font-weight: 500;
}
h5{
	font-size: 18px;
	font-weight: 500;
}
h6{
	font-size: 16px;
}
h3,h4,h5,h6{
	margin-bottom: 10px;
}
ul,ol{
	margin-bottom: 25px;
	position: relative;
	left: 42px;
	width: calc(100% - 42px);
}
li{
	list-style: none;
}
p{
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 26px;
}
a{
	text-decoration: none;
	color: black;
}
header{
	margin-top: 70px;
}
article{
	background-color: rgb(255,255,255);
	border-radius: 3px;
	box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
	transition: all 0.3s;
	padding: 20px;
}
article img{
	border-radius: 5px;
}
header:not(article){
	margin: -20px -20px 0 -20px;
}
footer{
	text-align: center;
	
}
footer ul{
	list-style: none;
	
}
footer a{
	color: var(--color-3);
}
.footer-right{
	margin: 0;
}
header > p{
	padding: 0 15px;
}

/**************************************************************/
#navegacion{
    box-sizing: border-box;
	width: 100vw;
	height: 60px;
	left: 0;
	top: 0;
	position: absolute;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(118, 211, 255) 0%, rgb(70, 187, 255) 100%) repeat scroll 0 0;
 
}
.boton-menu {
	background-color: transparent;
    display: block;
	float: right;
	font-size: 44px;
	text-align: center;
	margin: 5px 20px 0 0;
	height: 50px;
    width: 50px;
}
.nav-items {
    clear: both;
	height: 0;
	width: 80%;
	left: 0;
	overflow: hidden;
	position: absolute;
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s; /*El menú cambia su altura y su color de fondo mediante una transición suavizada al voover a su estado unicial*/
}
.close { 
	display:none;
}   
#logo img {
    height: 60px;
    margin-left: 0.6em;
}
.nav-items a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em;
}
ul.nav-items li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
}
ul.nav-items li:first-child a {
    border-top: 2px solid transparent;
}
#navegacion:target .nav-items {
    background: #ffffff none repeat scroll 0 0; 
	height: 15.8em;
	position: absolute;
	top: 80px;
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
} 
#navegacion:target .open {
	display: none;
}

#navegacion:target .close {
	display: block;
}
#item1 span {
    border-color: #ff6633;
}
#item2 span {
    border-color: #bda94d;
}
#item3 span {
    border-color: #5887bc;
}
#item4 span {
    border-color: #00a2b7;
}
#item5 span {
    border-color: #639bf2;
}
/**************************************************************/
.beaner{
	width: 100vw;
	top: 80px;
	left: 0em;
	position: relative;
}
.beaner-title{
	position: relative;
	top: -35px;
}
header{
	color: var(--color-4);
	font-size: 1.2em;
	letter-spacing: .1em;
	display:inline-block;
	text-align: center;
}

.beaner-articulo{
	width: 100%;
	margin-bottom: 20px;
}
.productos-y-servicios{
	width: 100%;
}
.contenido{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 10px 15px;
	grid-auto-rows: auto;
	grid-template-areas: 
	"a a a a a a a a"
	"b b b b b b b b"
	"c c c c c c c c"
	"d d d d d d d d"
	"e e e e e e e e"
	"f f f f f f f f"
	"g g g g g g g g"
	"h h h h h h h h";
	align-items: stretch;
	align-items: flex-end;
}
.block{
	border-radius: 5px;
	margin-bottom: 10px;
}
.image-block-medium{
	width: 55%;
}
.container-footer{
	background-color: var(--color-4);
	color: var(--color-3);
	width: 100%;
	height: auto;
	padding: 10px 10px 30px 10px;
	font-size: 1.2em;
	position: absolute;
	left: 0;
}
.nav-footer{
	width: 40%;
	padding: 10px;
	margin-left: 40px;
}
.blog{
	margin-top: 120px;
}

.etiqueta{
	font-weight: bold;
	color: var(--color-robot);
}
.propuesta-de-valor h3{
	text-align: center;
}
.propuesta-de-valor img{
	width: 100%;
}
.contenido-de-interes img{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}
.contenido-de-interes h3{
	font-size: 17px;
	margin-bottom: 25px;
}
.block button{
	font-size: 1.2em;
	padding: 4px 8px;
	display: block;
	margin: 0 0 0 auto;
	border-radius: 5px;
	background-color: var(--color-electronic);
	border: none; 
}
.contenido-de-interes a{
	color: var(--color-3);
}
.nav-social-networks li{
	display: inline-block;
}
.block:nth-child(1){
	grid-area: a;
}
.block:nth-child(2){
	grid-area: b;
}
.block:nth-child(3){
	grid-area: c;
}
.block:nth-child(4){
	grid-area: d;
}
.block:nth-child(5){
	grid-area: e;
}
.block:nth-child(6){
	grid-area: f;
}
.block:nth-child(7){
	grid-area: g;
}
.block:nth-child(8){
	grid-area: h;
}
.contenido-de-interes .block{
	line-height: 0.1em;
	background-color: var(--color-2);
	color: var(--color-3);
}
.productos-y-servicios .block:nth-child(1){
	background-color: var(--color-informatic);
}
.productos-y-servicios .block:nth-child(2){
	background-color: var(--color-electronic);
}
.productos-y-servicios .block:nth-child(3){
	background-color: var(--color-desing);
}
.productos-y-servicios .block:nth-child(4){
	background-color: var(--color-robot);
}
.block-2 > img{
	width: 80%;
	height: 200px;
	float: left;
}
.aside-tags{	
	display: inline-block;
}

/* Móviles en horizontal o tablet en vertical */
@media (min-width: 768px){
	body{
		padding: 0 40px;
	}

	/**********************************************/
	.nav-items {
		width: 50%;
	}
	.beaner{
		margin-left: -40px;
	}
	.beaner-title{
		font-size: 3.2em;
		position: relative;
		top: -120px;
	}
	.contenido{
		grid-template-areas: 
		"a a a a b b b b"
		"c c c c d d d d";
	}
	.beaner p{
		font-size: 1.2em;
	}
	.contenido-de-interes .contenido{
		grid-template-areas: 
		"a a a a b b b b"
		"c c c c d d d d"
		"e e e e f f f f"
		"g g g g h h h h";
	}
}

/* Tablets en horizontal y esctritorios normales */
@media (min-width: 1024px){
	body{
		padding: 0 40px;
	}
	.beaner-title{
		top: -230px;
	}
	.nav-items {
		width: 40%;
	}
	.productos-y-servicios .contenido{
		grid-template-areas: 
		"a a b b c c d d";
	}
	.contenido-de-interes .contenido{
		grid-template-areas:
		"a a b b c c d d"
		"e e f f g g h h";
	}
}

/* Escritorios muy anchos */
@media (min-width: 1200px){
	.boton-menu{
		display: none;
	}
	#navegacion{
		position: fixed;
	}
	.nav-items{
		height: 80px;
		top: 0;
		right: 0;
		left: unset;
		text-align: center;
	}
	.nav-social-networks{
		position: absolute;
		right: 25px;
		width: 15%;
	}
	.beaner{
		height: 550px;
	}
	.beaner p{
		font-size: 1.6em;
	}
	.nav-items li{
		display: inline-block;
		font-size: 1.2em;
	}
	.nav-items a{
		border: none;
	}
	article .contenido{
		grid-template-areas: 
		"a a b b c c d d";
	}	
	.contenido-de-interes .contenido{
		grid-template-areas: 
		"a a c d e f g h";
	}
	.nav-items a:hover{
		color: var(--color-3);
	}
}